:root {
    --index-bottom-main-top: 229px;

    @media (max-width: $md_max) {
        --index-bottom-main-top: 162px;
    }

    @media (max-width: $sm_max) {
        --index-bottom-main-top: 204px;
    }
}

.index-bottom__main {
    top: var(--index-bottom-main-top);
    transform: translate(-50%, -50%);
    left: 50%;

    .content {

    }
}