:root {
    --index-footer-height: 197px;

    @media (max-width: $md_max) {
        --index-footer-height: 149px;
    }

    @media (max-width: $sm_max) {
        --index-footer-height: 274px;
    }
}

.index-footer {
    height: var(--index-footer-height);

    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #ffffff;
    }
}