.index-footer-main {
    height: 196px;

    .content {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 60px;
        background-color: #ff0000;
    }
}