:root {
    --index-footer-back-top: -398px;
    --index-footer-back-transform: 0;

    @media (max-width: $md_max) {
        --index-footer-back-top: -304px;
        --index-footer-back-transform: 0;
    }

    @media (max-width: $sm_max) {
        --index-footer-back-top: -232px;
        --index-footer-back-transform: -320px;
    }
}

.index-footer__back {
    top: var(--index-footer-back-top);
    transform: translateX(var(--index-footer-back-transform));
    left: 50%;
}