.index-footer {
    height: var(--index-footer-height);

    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: #ffffff;
    }
}