.index-footer__main {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 99px;

    @media (max-width: $md_max) {
        top: 74px;
    }

    @media (max-width: $sm_max) {
        top: 137px;
    }

    .content {

    }
}