.index-header {
    height: 60px;

    &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        background-color: #ffffff;
    }
}