.index-shops__main {
    margin: 0 auto;

    .title {
        margin-bottom: 40px;
        color: #ffffff;
        font-family: "PF Din Text Cond Pro", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;

        @media (max-width: $md_max) {
            font-size: 36px;
            line-height: 43px;
        }

        @media (max-width: $sm_max) {
            font-size: 24px;
            line-height: 29px;
        }
    }

    .tabs {
        display: block;

        &__head {
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 80px;

            @media (max-width: $md_max) {
                margin-bottom: 60px;
            }

            @media (max-width: $sm_max) {
                margin-bottom: 40px;
            }

            .button {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 99999px;
                text-decoration: none;
                box-sizing: border-box;
                height: 80px;

                @media (max-width: $sm_max) {
                    height: 60px;
                }

                &[data-selected="off"] {
                    background-color: #000000;
                    border: 2px solid #ffffff;
                }

                &:not(:last-of-type) {
                    margin: 0 20px 0 0;

                    @media (max-width: $sm_max) {
                        margin: 0 0 20px 0;
                    }
                }

                &_retail {
                    width: 274px;

                    @media (max-width: $sm_max) {
                        width: 188px;
                    }

                    &[data-selected="on"] {
                        background: linear-gradient(180deg, #04bb33 0%, #00b58a 100%);
                    }
                }

                &_internet {
                    width: 262px;

                    @media (max-width: $sm_max) {
                        width: 180px;
                    }

                    &[data-selected="on"] {
                        background: linear-gradient(180deg, #00a2f6 0%, #c153ff 100%);
                    }
                }

                &_federal {
                    width: 253px;

                    @media (max-width: $sm_max) {
                        width: 174px;
                    }

                    &[data-selected="on"] {
                        background: linear-gradient(180deg, #ff9c47 0%, #e600c6 100%);
                    }
                }

                &[data-selected="off"]:hover span, &[data-selected="off"]:focus span {
                    transform: scale(1.05, 1.15);
                }

                span {
                    padding-top: 3px;
                    transition: transform 500ms ease;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-family: "Bebas Neue", sans-serif;
                    font-style: normal;
                    font-weight: 700;
                    letter-spacing: 0.01em;
                    font-size: 20px;

                    @media (max-width: $sm_max) {
                        font-size: 14px;
                    }
                }
            }
        }

        &__body {
            &[data-hidden="on"] {
                display: none;
            }

            &[data-hidden="off"] {
                display: block;
            }
        }

        .grid {
            padding: 0;
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: center;

            li {
                padding: 0;

                .image {
                    background-color: #ffffff;
                    object-fit: contain;
                    border-radius: 10px;

                    &_large {
                        width: 360px;
                        height: 220px;

                        @media (max-width: $md_max) {
                            width: 300px;
                            height: 180px;
                        }

                        @media (max-width: $sm_max) {
                            width: 280px;
                            height: 180px;
                        }
                    }

                    &_small {
                        width: 216px;
                        height: 120px;

                        @media (max-width: $md_max) {
                            width: 172px;
                            height: 100px;
                        }

                        @media (max-width: $sm_max) {
                            width: 130px;
                            height: 80px;
                        }
                    }
                }
            }

            &_primary {
                margin: 0 0 40px 0;

                @media (max-width: $md_max) {
                    margin: 0 0 20px 0;
                }

                li {
                    display: block;

                    &:not(:last-of-type) {
                        margin: 0 40px 0 0;

                        @media (max-width: $md_max) {
                            margin: 0 20px 0 0;
                        }

                        @media (max-width: $sm_max) {
                            margin: 0 0 20px 0;
                        }
                    }

                    a {
                        display: block;
                    }
                }
            }

            &_secondary {
                margin: -10px;

                li {
                    display: block;
                    margin: 10px;
                }
            }

            &_federal {
                margin: -10px;

                @media (max-width: $md_max) {
                    margin: -20px -10px 20px;
                }

                @media (max-width: $sm_max) {
                    margin: -10px;
                }

                li {
                    display: block;
                    margin: 10px;

                    @media (max-width: $md_max) {
                        margin: 20px 10px;
                    }

                    @media (max-width: $sm_max) {
                        margin: 10px;
                    }
                }
            }
        }
    }
}