.account-balls__main {
    margin: 0 auto;
    height: 565px;

    @media (max-width: $md_max) {
        height: 451px;
    }

    @media (max-width: $sm_max) {
        height: 504px;
    }

    .title {
        display: block;
        color: #ffffff;
        font-family: "PF Din Text Cond Pro", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;

        @media (max-width: $md_max) {
            font-size: 36px;
            line-height: 43px;
        }

        @media (max-width: $sm_max) {
            font-size: 24px;
            line-height: 29px;
        }
    }

    .balls-number, .balls-text, .text {
        top: 50%;
        left: 50%;
        position: absolute;
        display: block;
        color: #ffffff;
        font-family: "PF Din Text Cond Pro", sans-serif;
        font-style: normal;
        font-weight: 400;
    }

    .balls-number {
        font-size: 120px;
        line-height: 144px;
        width: 160px;
        transform: translate(-480px, -96px);

        @media (max-width: $md_max) {
            font-size: 90px;
            line-height: 108px;
            width: 119px;
            transform: translate(-380px, -55px);
        }

        @media (max-width: $sm_max) {

        }
    }

    .balls-text {
        text-align: center;
        font-size: 48px;
        line-height: 58px;
        width: 160px;
        transform: translate(-480px, 20px);

        @media (max-width: $md_max) {
            font-size: 36px;
            line-height: 43px;
            width: 119px;
            transform: translate(-380px, 32px);
        }

        @media (max-width: $sm_max) {

        }
    }

    .text {
        font-size: 30px;
        line-height: 36px;
        width: 560px;
        transform: translate(-180px, -40px);

        @media (max-width: $md_max) {
            font-size: 24px;
            line-height: 29px;
            width: 540px;
            transform: translate(-69px, -15px);
        }

        @media (max-width: $sm_max) {
            font-size: 18px;
            line-height: 22px;
            width: 280px;
            transform: translate(-140px, 144px);
        }
    }
}