div(class="back index-footer__back")
    img(alt="", src="images/index-footer-back-lg.png",
        srcset="images/index-footer-back-sm.png 718w, images/index-footer-back-md.png 703w, images/index-footer-back-lg.png 981w",
        sizes="(max-width: 959px) 718px, (max-width: 1199px) 703px, 981px")