div(class="back index-header__back")
    img(alt="", src="images/index-header-back-lg.png",
        srcset="images/index-header-back-sm.png 460w, images/index-header-back-md.png 692w, images/index-header-back-lg.png 863w",
        sizes="(max-width: 959px) 460px, (max-width: 1199px) 692px, 863px")