div(class="back index-prizes__back")
    img(alt="", src="images/index-prizes-back-lg.png",
        srcset="images/index-prizes-back-sm.png 954w, images/index-prizes-back-md.png 1474w, images/index-prizes-back-lg.png 1697w",
        sizes="(max-width: 959px) 954px, (max-width: 1199px) 1474px, 1697px")