div(class="main main_abs index-prizes__main")
    div(class="content")
        div(class="card card_primary")
            div(class="text title_primary")
                | Главные призы
            div(class="images images_primary")
                img(alt="", src="images/index-large-prizes-main-bike.png")
                img(alt="", src="images/index-large-prizes-main-playstation.png")
                img(alt="", src="images/index-large-prizes-main-applewatch.png")

        div(class="card card_secondary card_week")
            div(class="text title_secondary")
                | Еженедельные призы
            div(class="text subtitle_secondary")
                | 3 победителя каждую неделю
            div(class="images images_secondary images_week")
                img(alt="", src="images/index-large-prizes-main-okko.png")
                img(alt="", src="images/index-large-prizes-main-yandex.png")
                img(alt="", src="images/index-large-prizes-main-litres.png")

        div(class="card card_secondary card_day")
            div(class="text title_secondary")
                | Ежедневные призы
            div(class="text subtitle_secondary")
                | Бокс с канцелярией Berlingo
            div(class="images images_secondary images_day")
                img(alt="", src="images/index-large-prizes-main-box.png")