div(class="main main_rel index-shops__main")
    div(class="title")
        |
    div(class="tabs")
        div(class="tabs__head")
            a(href="#", class="button button_retail", data-tab-open="0", data-selected="on")
                span
                    | Розничные магазины
            a(href="#", class="button button_internet", data-tab-open="1", data-selected="off")
                span
                    | Интернет-магазины
            a(href="#", class="button button_federal", data-tab-open="2", data-selected="off")
                span
                    | Федеральные сети

        div(class="tabs__body", data-tab-body="0", data-hidden="off")
            form(novalidate)
                input(type="text", autocomplete="off", aria-label="Город")

            ul(class="retails")
                li
                    div(class="retails__left")
                        svg

                        span
                            |

                    div(class="retails__center")
                        span
                            |
                    div(class="retails__right")
                        a(href="#")
                li
                li
                li
                li
                li
                li
                li
                li
                li
                li

        div(class="tabs__body", data-tab-body="1", data-hidden="on")
            ul(class="grid grid_primary")
                li
                    a(href="#")
                        img()
                        img()
                        img()

                li
                    a(href="#")
                        img()
                        img()
                        img()
                li
                    a(href="#")
                        img()
                        img()
                        img()
            ul(class="grid grid_secondary")
                li
                    a(href="#")
                        img()
                        img()
                        img()

                li
                    a(href="#")
                        img()
                        img()
                        img()
                li
                    a(href="#")
                        img()
                        img()
                        img()
                li
                    a(href="#")
                        img()
                        img()
                        img()
                li
                    a(href="#")
                        img()
                        img()
                        img()
                li
                    a(href="#")
                        img()
                        img()
                        img()
                li
                    a(href="#")
                        img()
                        img()
                        img()
                li
                    a(href="#")
                        img()
                        img()
                        img()
                li
                    a(href="#")
                        img()
                        img()
                        img()

        div(class="tabs__body", data-tab-body="2", data-hidden="on")
            ul(class="grid grid_federal")
                li
                    img()
                    img()
                    img()

                li
                    img()
                    img()
                    img()
                li
                    img()
                    img()
                    img()
                li
                    img()
                    img()
                    img()
                li
                    img()
                    img()
                    img()
                li
                    img()
                    img()
                    img()
                li
                    img()
                    img()
                    img()
                li
                    img()
                    img()
                    img()
                li
                    img()
                    img()
                    img()
                li
                    img()
                    img()
                    img()
                li
                    img()
                    img()
                    img()
                li
                    img()
                    img()
                    img()
                li
                    img()
                    img()
                    img()
