div(class="back index-stages__back")
    img(alt="", src="images/index-stages-back-lg.png",
        srcset="images/index-stages-back-sm.png 280w, images/index-stages-back-md.png 940w, images/index-stages-back-lg.png 1160w",
        sizes="(max-width: 959px) 280px, (max-width: 1199px) 940px, 1160px")