div(class="back index-top__back")
    img(alt="", src="images/index-top-back-1-lg.png",
        srcset="images/index-top-back-1-sm.png 430w, images/index-top-back-1-md.png 941w, images/index-top-back-1-lg.png 1440w",
        sizes="(max-width: 959px) 430px, (max-width: 1199px) 941px, 1440px")

    // todo js
    //img(alt="", src="images/index-top-back-2-lg.png",
    //    srcset="images/index-top-back-2-sm.png 415w, images/index-top-back-2-md.png 830w, images/index-top-back-2-lg.png 1259w",
    //    sizes="(max-width: 959px) 415px, (max-width: 1199px) 830px, 1259px")
    //img(alt="", src="images/index-top-back-3-lg.png",
    //    srcset="images/index-top-back-3-sm.png 400w, images/index-top-back-3-md.png 800w, images/index-top-back-3-lg.png 1214w",
    //    sizes="(max-width: 959px) 400px, (max-width: 1199px) 800px, 1214px")