div(class="main main_abs index-top__main")

    div(class="text")
        | Участвуй в акции и получи призы
        br
        | от Berlingo и Павла Воли

    a(href="#", class="button button_check")
        span
            | Зарегистрируй чек и получи призы

    a(href="#", class="button button_pen")
        span
            | Найди свою идеальную ручку