@font-face {
    font-family: "PF Din Text Cond Pro";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("../../fonts/PF-Din-Text-Cond-Pro.woff2") format("woff2"),
    url("../../fonts/PF-Din-Text-Cond-Pro.woff") format("woff");
    font-display: swap;
}