:root {
  --container-width: 1160px;
}
@media (max-width: 1199px) {
  :root {
    --container-width: 940px;
  }
}
@media (max-width: 959px) {
  :root {
    --container-width: 280px;
  }
}

:root {
  --index-header-height: 60px;
  --index-header-back-top: -230px;
  --index-header-back-transform: 156px;
}
@media (max-width: 1199px) {
  :root {
    --index-header-height: 60px;
    --index-header-back-top: -160px;
    --index-header-back-transform: 112px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-header-height: 40px;
    --index-header-back-top: -160px;
    --index-header-back-transform: 230px;
  }
}

:root {
  --index-top-height: 780px;
  --index-top-back-top: -40px;
  --index-top-back-transform: 1128px;
}
@media (max-width: 1199px) {
  :root {
    --index-top-height: 580px;
    --index-top-back-top: -20px;
    --index-top-back-transform: 839px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-top-height: 590px;
    --index-top-back-top: 280px;
    --index-top-back-transform: 290px;
  }
}

:root {
  --index-stages-height: 760px;
}
@media (max-width: 1199px) {
  :root {
    --index-stages-height: 680px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-stages-height: 1138px;
  }
}

:root {
  --index-prizes-height: 1086px;
  --index-prizes-back-top: 11px;
  --index-prizes-back-transform: 639px;
}
@media (max-width: 1199px) {
  :root {
    --index-prizes-height: 999px;
    --index-prizes-back-top: 0;
    --index-prizes-back-transform: 0;
  }
}
@media (max-width: 959px) {
  :root {
    --index-prizes-height: 1945px;
    --index-prizes-back-top: 0;
    --index-prizes-back-transform: 0;
  }
}

:root {
  --index-prize-height: 790px;
}
@media (max-width: 1199px) {
  :root {
    --index-prize-height: 647px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-prize-height: 722px;
  }
}

:root {
  --index-bottom-height: 418px;
  --index-bottom-back-top: 156px;
  --index-bottom-back-transform: -113px;
  --index-bottom-main-top: 229px;
}
@media (max-width: 1199px) {
  :root {
    --index-bottom-height: 324px;
    --index-bottom-back-top: -304px;
    --index-bottom-back-transform: 0;
    --index-bottom-main-top: 162px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-bottom-height: 407px;
    --index-bottom-back-top: -232px;
    --index-bottom-back-transform: -320px;
    --index-bottom-main-top: 204px;
  }
}

:root {
  --index-footer-height: 197px;
  --index-footer-back-top: -398px;
  --index-footer-back-transform: 0;
  --index-footer-main-top: 99px;
}
@media (max-width: 1199px) {
  :root {
    --index-footer-height: 149px;
    --index-footer-back-top: -304px;
    --index-footer-back-transform: 0;
    --index-footer-main-top: 74px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-footer-height: 274px;
    --index-footer-back-top: -232px;
    --index-footer-back-transform: -320px;
    --index-footer-main-top: 137px;
  }
}

label, input, textarea, button, select, a, summary {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus, button:focus, input:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  outline: none !important;
  border: 0 !important;
}

img {
  display: block;
}

.index-header {
  height: var(--index-header-height);
}
.index-header::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #ffffff;
}

.index-header__back {
  top: var(--index-header-back-top);
  right: 50%;
  transform: translateX(var(--index-header-back-transform));
}

.index-top {
  height: var(--index-top-height);
}

.index-top__back {
  top: var(--index-top-back-top);
  right: 50%;
  transform: translateX(var(--index-top-back-transform));
}

.index-stages {
  height: var(--index-stages-height);
}

.index-stages__back {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.index-prizes {
  height: var(--index-prizes-height);
}

.index-prizes__back {
  top: var(--index-prizes-back-top);
  right: 50%;
  transform: translateX(var(--index-prizes-back-transform));
}
@media (max-width: 1199px) {
  .index-prizes__back {
    display: none !important;
  }
}

.index-prizes__main {
  top: 563px;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1199px) {
  .index-prizes__main {
    display: none !important;
  }
}
.index-prizes__main .content {
  height: 926px;
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
}
.index-prizes__main .card {
  display: block;
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 40px;
}
.index-prizes__main .card_primary {
  flex-basis: 100%;
  min-height: 488px;
  margin-bottom: 40px;
}
.index-prizes__main .card_secondary {
  min-height: 398px;
}
.index-prizes__main .card_week {
  flex-basis: 760px;
  margin-right: 40px;
}
.index-prizes__main .card_day {
  flex-basis: 360px;
}
.index-prizes__main .text {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #ffffff;
}
.index-prizes__main .text.title_primary {
  top: 87px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 1.125;
}
.index-prizes__main .text.title_primary img {
  width: 160px;
  height: 6px;
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translateX(19px);
}
.index-prizes__main .text.title_secondary {
  top: 77px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.125;
}
.index-prizes__main .text.subtitle_secondary {
  top: 126px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.125;
}
.index-prizes__main .images {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.index-prizes__main .images_primary {
  bottom: 192px;
  width: 1040px;
}
.index-prizes__main .images_primary img {
  width: 270px;
  height: 270px;
}
.index-prizes__main .images_secondary {
  bottom: 140px;
}
.index-prizes__main .images_secondary img {
  width: auto;
  height: 160px;
}
.index-prizes__main .images_week {
  width: 640px;
}
.index-prizes__main .images_day {
  width: 172px;
}

.index-prize {
  height: var(--index-prize-height);
}

.index-prize__back {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.index-bottom {
  height: var(--index-bottom-height);
}

.index-bottom__back {
  top: var(--index-bottom-back-top);
  left: 50%;
  transform: translateX(var(--index-bottom-back-transform));
}

.index-bottom__main {
  top: var(--index-bottom-main-top);
  left: 50%;
  transform: translate(-50%, -50%);
}
.index-footer {
  height: var(--index-footer-height);
}
.index-footer::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ffffff;
}

.index-footer__back {
  top: var(--index-footer-back-top);
  left: 50%;
  transform: translateX(var(--index-footer-back-transform));
}

.index-footer__main {
  top: var(--index-footer-main-top);
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper-outer {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #000000;
}
.wrapper-inner {
  overflow: hidden;
}

.section {
  display: block;
  position: relative;
}

.back {
  display: block;
  position: absolute;
  z-index: 0;
}

.main {
  display: block;
  width: var(--container-width);
  z-index: 10;
}
.main_abs {
  position: absolute;
}
.main_rel {
  position: relative;
}
