@font-face {
  font-family: "PF Din Text Cond Pro";
  font-style: normal;
  font-weight: 400;
  src: local(""), url(../fonts/PF-Din-Text-Cond-Pro.woff2?c980723f8d637a8013f8be6979267052) format("woff2"), url(../fonts/PF-Din-Text-Cond-Pro.woff?d626d1f28833432f8eb4b031dc195843) format("woff");
  font-display: swap;
}
label, input, textarea, button, select, a, summary {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus, button:focus, input:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  outline: none !important;
  border: 0 !important;
}

img {
  display: block;
}

:root {
  --index-header-height: 60px;
}
@media (max-width: 1199px) {
  :root {
    --index-header-height: 60px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-header-height: 40px;
  }
}

.index-header {
  height: var(--index-header-height);
}
.index-header::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: #ffffff;
}

:root {
  --index-header-back-top: -230px;
  --index-header-back-transform: 156px;
}
@media (max-width: 1199px) {
  :root {
    --index-header-back-top: -160px;
    --index-header-back-transform: 112px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-header-back-top: -160px;
    --index-header-back-transform: 230px;
  }
}

.index-header__back {
  top: var(--index-header-back-top);
  transform: translateX(var(--index-header-back-transform));
  right: 50%;
}

:root {
  --index-top-height: 780px;
}
@media (max-width: 1199px) {
  :root {
    --index-top-height: 580px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-top-height: 590px;
  }
}

.index-top {
  height: var(--index-top-height);
}

:root {
  --index-top-back-top: -40px;
  --index-top-back-transform: 1128px;
}
@media (max-width: 1199px) {
  :root {
    --index-top-back-top: -20px;
    --index-top-back-transform: 839px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-top-back-top: 280px;
    --index-top-back-transform: 290px;
  }
}

.index-top__back {
  top: var(--index-top-back-top);
  transform: translateX(var(--index-top-back-transform));
  right: 50%;
}

.index-stages {
  height: 760px;
}
@media (max-width: 1199px) {
  .index-stages {
    height: 680px;
  }
}
@media (max-width: 959px) {
  .index-stages {
    height: 1138px;
  }
}

.index-stages__back {
  top: 0;
  transform: translateX(-50%);
  left: 50%;
}

.index-stages__main {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.index-stages__main .text {
  position: absolute;
  color: #ffffff;
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  width: 200px;
}
@media (max-width: 1199px) {
  .index-stages__main .text {
    font-size: 22px;
    line-height: 26.4px;
    width: 150px;
  }
}
@media (max-width: 959px) {
  .index-stages__main .text {
    font-size: 18px;
    line-height: 21.6px;
    width: 130px;
  }
}
.index-stages__main .text_one {
  transform: translate(-50%, -50%);
  top: 182px;
  left: 380px;
}
@media (max-width: 1199px) {
  .index-stages__main .text_one {
    top: 158px;
    left: 315px;
  }
}
@media (max-width: 959px) {
  .index-stages__main .text_one {
    top: 144px;
    left: 215px;
  }
}
.index-stages__main .text_two {
  transform: translate(-50%, -50%);
  top: 524px;
  left: 460px;
}
@media (max-width: 1199px) {
  .index-stages__main .text_two {
    top: 456px;
    left: 385px;
  }
}
@media (max-width: 959px) {
  .index-stages__main .text_two {
    top: 433px;
    left: 215px;
  }
}
.index-stages__main .text_three {
  transform: translate(50%, -50%);
  top: 270px;
  right: 180px;
}
@media (max-width: 1199px) {
  .index-stages__main .text_three {
    top: 245px;
    right: 145px;
  }
}
@media (max-width: 959px) {
  .index-stages__main .text_three {
    top: 728px;
    right: 65px;
  }
}
.index-stages__main .text_four {
  transform: translate(50%, -50%);
  top: 610px;
  right: 100px;
}
@media (max-width: 1199px) {
  .index-stages__main .text_four {
    top: 555px;
    right: 75px;
  }
}
@media (max-width: 959px) {
  .index-stages__main .text_four {
    top: 1028px;
    right: 65px;
  }
}
.index-stages__main .text a {
  display: inline-block;
  text-decoration: underline;
  color: #ffffff;
  transition: transform 700ms ease;
}
.index-stages__main .text a:hover {
  transform: scale(1.05, 1.15);
}

:root {
  --index-prizes-height: 1086px;
}
@media (max-width: 1199px) {
  :root {
    --index-prizes-height: 999px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-prizes-height: 1945px;
  }
}

.index-prizes {
  height: var(--index-prizes-height);
}

:root {
  --index-prizes-back-top: 11px;
  --index-prizes-back-transform: 639px;
}
@media (max-width: 1199px) {
  :root {
    --index-prizes-back-top: -9px;
    --index-prizes-back-transform: 576px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-prizes-back-top: 20px;
    --index-prizes-back-transform: 386px;
  }
}

.index-prizes__back {
  top: var(--index-prizes-back-top);
  transform: translateX(var(--index-prizes-back-transform));
  right: 50%;
}

.index-prizes__main {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 563px;
}
@media (max-width: 1199px) {
  .index-prizes__main {
    top: 500px;
  }
}
@media (max-width: 959px) {
  .index-prizes__main {
    top: 993px;
  }
}
.index-prizes__main .content {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  height: 926px;
}
@media (max-width: 1199px) {
  .index-prizes__main .content {
    height: 839px;
  }
}
@media (max-width: 959px) {
  .index-prizes__main .content {
    height: 1865px;
  }
}
.index-prizes__main .card {
  display: block;
  position: relative;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 40px;
}
@media (max-width: 959px) {
  .index-prizes__main .card {
    border-radius: 20px;
  }
}
.index-prizes__main .card_primary {
  flex-basis: 100%;
  min-height: 488px;
  margin: 0 0 40px 0;
}
@media (max-width: 1199px) {
  .index-prizes__main .card_primary {
    min-height: 443px;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 959px) {
  .index-prizes__main .card_primary {
    min-height: 828px;
  }
}
.index-prizes__main .card_week {
  flex-basis: 760px;
  min-height: 398px;
  margin: 0 40px 0 0;
}
@media (max-width: 1199px) {
  .index-prizes__main .card_week {
    flex-basis: 620px;
    min-height: 376px;
    margin: 0 20px 0 0;
  }
}
@media (max-width: 959px) {
  .index-prizes__main .card_week {
    flex-basis: 100%;
    min-height: 661px;
    margin: 0 0 20px 0;
  }
}
.index-prizes__main .card_day {
  flex-basis: 360px;
  min-height: 398px;
}
@media (max-width: 1199px) {
  .index-prizes__main .card_day {
    flex-basis: 300px;
    min-height: 376px;
  }
}
@media (max-width: 959px) {
  .index-prizes__main .card_day {
    flex-basis: 100%;
    min-height: 336px;
  }
}
.index-prizes__main .text {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: #ffffff;
}
.index-prizes__main .text.title_primary {
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125;
  font-size: 48px;
  top: 87px;
}
@media (max-width: 1199px) {
  .index-prizes__main .text.title_primary {
    font-size: 36px;
    top: 80px;
  }
}
@media (max-width: 959px) {
  .index-prizes__main .text.title_primary {
    font-size: 24px;
    top: 53px;
  }
}
.index-prizes__main .text.title_primary svg {
  position: absolute;
  top: 100%;
  right: 50%;
  display: block;
  transform: translateX(19px);
  width: 160px;
  height: auto;
}
@media (max-width: 1199px) {
  .index-prizes__main .text.title_primary svg {
    transform: translateX(11px);
    width: 114px;
  }
}
@media (max-width: 959px) {
  .index-prizes__main .text.title_primary svg {
    transform: translateX(5px);
    width: 73px;
  }
}
.index-prizes__main .text.title_secondary {
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125;
  font-size: 30px;
  top: 77px;
}
@media (max-width: 1199px) {
  .index-prizes__main .text.title_secondary {
    font-size: 28px;
    top: 76px;
  }
}
@media (max-width: 959px) {
  .index-prizes__main .text.title_secondary {
    font-size: 24px;
    top: 56px;
  }
}
.index-prizes__main .text.subtitle_secondary {
  font-family: "PF Din Text Cond Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125;
  font-size: 18px;
  top: 126px;
}
@media (max-width: 1199px) {
  .index-prizes__main .text.subtitle_secondary {
    top: 124px;
  }
}
@media (max-width: 959px) {
  .index-prizes__main .text.subtitle_secondary {
    top: 104px;
  }
}
.index-prizes__main .images {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  bottom: 59px;
}
@media (max-width: 959px) {
  .index-prizes__main .images {
    bottom: 39px;
  }
}
.index-prizes__main .images img {
  width: auto;
}
.index-prizes__main .images_primary {
  width: 1040px;
}
@media (max-width: 1199px) {
  .index-prizes__main .images_primary {
    width: 860px;
  }
}
@media (max-width: 959px) {
  .index-prizes__main .images_primary {
    width: 180px;
    margin-left: -20px;
  }
}
.index-prizes__main .images_primary img {
  height: 270px;
}
@media (max-width: 1199px) {
  .index-prizes__main .images_primary img {
    height: 240px;
  }
}
@media (max-width: 959px) {
  .index-prizes__main .images_primary img {
    height: 200px;
  }
  .index-prizes__main .images_primary img:not(:last-of-type) {
    margin-bottom: 40px;
  }
}
.index-prizes__main .images_week {
  width: 640px;
}
@media (max-width: 1199px) {
  .index-prizes__main .images_week {
    width: 540px;
  }
}
@media (max-width: 959px) {
  .index-prizes__main .images_week {
    width: 140px;
  }
}
.index-prizes__main .images_week img {
  height: 140px;
}
@media (max-width: 959px) {
  .index-prizes__main .images_week img:not(:last-of-type) {
    margin-bottom: 25px;
  }
}
.index-prizes__main .images_day {
  width: 140px;
}
.index-prizes__main .images_day img {
  height: 140px;
}

:root {
  --index-prize-height: 790px;
}
@media (max-width: 1199px) {
  :root {
    --index-prize-height: 647px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-prize-height: 722px;
  }
}

.index-prize {
  height: var(--index-prize-height);
}

.index-prize__back {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

:root {
  --index-bottom-height: 418px;
}
@media (max-width: 1199px) {
  :root {
    --index-bottom-height: 324px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-bottom-height: 407px;
  }
}

.index-bottom {
  height: var(--index-bottom-height);
}

:root {
  --index-bottom-back-top: 176px;
  --index-bottom-back-transform: -113px;
}
@media (max-width: 1199px) {
  :root {
    --index-bottom-back-top: 86px;
    --index-bottom-back-transform: -63px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-bottom-back-top: 89px;
    --index-bottom-back-transform: 79px;
  }
}

.index-bottom__back {
  top: var(--index-bottom-back-top);
  transform: translateX(var(--index-bottom-back-transform));
  left: 50%;
}

:root {
  --index-bottom-main-top: 229px;
}
@media (max-width: 1199px) {
  :root {
    --index-bottom-main-top: 162px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-bottom-main-top: 204px;
  }
}

.index-bottom__main {
  top: var(--index-bottom-main-top);
  transform: translate(-50%, -50%);
  left: 50%;
}
:root {
  --index-footer-height: 197px;
}
@media (max-width: 1199px) {
  :root {
    --index-footer-height: 149px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-footer-height: 274px;
  }
}

.index-footer {
  height: var(--index-footer-height);
}
.index-footer::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ffffff;
}

:root {
  --index-footer-back-top: -398px;
  --index-footer-back-transform: 0;
}
@media (max-width: 1199px) {
  :root {
    --index-footer-back-top: -304px;
    --index-footer-back-transform: 0;
  }
}
@media (max-width: 959px) {
  :root {
    --index-footer-back-top: -232px;
    --index-footer-back-transform: -320px;
  }
}

.index-footer__back {
  top: var(--index-footer-back-top);
  transform: translateX(var(--index-footer-back-transform));
  left: 50%;
}

:root {
  --index-footer-main-top: 99px;
}
@media (max-width: 1199px) {
  :root {
    --index-footer-main-top: 74px;
  }
}
@media (max-width: 959px) {
  :root {
    --index-footer-main-top: 137px;
  }
}

.index-footer__main {
  top: var(--index-footer-main-top);
  transform: translate(-50%, -50%);
  left: 50%;
}
.wrapper-outer {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #000000;
}
.wrapper-inner {
  overflow: hidden;
}

.section {
  display: block;
  position: relative;
}

.back {
  display: block;
  position: absolute;
  z-index: 0;
}

.main {
  display: block;
  z-index: 10;
  width: 1160px;
}
@media (max-width: 1199px) {
  .main {
    width: 940px;
  }
}
@media (max-width: 959px) {
  .main {
    width: 280px;
  }
}
.main_abs {
  position: absolute;
}
.main_rel {
  position: relative;
}

.image_lg, .image_md, .image_sm {
  display: none;
}
@media (min-width: 1200px) {
  .image_lg {
    display: block;
  }
}
@media (min-width: 960px) and (max-width: 1199px) {
  .image_md {
    display: block;
  }
}
@media (max-width: 959px) {
  .image_sm {
    display: block;
  }
}
