section(class="modal modal_auth", data-modal-name="register", data-modal-important="off")
    include modal--close


    div(style="height:200px")

        div()
        a(href="#", data-modal-open="login")
            | Вход