section(class="modal modal_auth", data-modal-name="success", data-modal-important="off")
    include modal--close


    div(class="modal__body")


    div(class="modal__foot")
        a(href="#", data-modal-open="register")
            | Регистрация