section(class="modal modal_test", data-modal-name="test_5", data-modal-important="on")

    div(class="modal__body-0")
        div(class="modal__body-1")

            div(class="modal__body-2")

                include modal--close

                div(class="title")
                    | Шаг 4/4

                div(class="subtitle")
                    | Выбери знак, который тебе больше нравится

                form()
                    input(type="radio", name="step_4", value="4_1")
                    label
                        img(alt="", src="images/modal-test-5-1-lg.png", class="image_lg")
                        img(alt="", src="images/modal-test-5-1-md.png", class="image_md")
                        img(alt="", src="images/modal-test-5-1-sm.png", class="image_sm")

                    input(type="radio", name="step_4", value="4_2")
                    label
                        img(alt="", src="images/modal-test-5-2-lg.png", class="image_lg")
                        img(alt="", src="images/modal-test-5-2-md.png", class="image_md")
                        img(alt="", src="images/modal-test-5-2-sm.png", class="image_sm")

                    input(type="radio", name="step_4", value="4_3")
                    label
                        img(alt="", src="images/modal-test-5-3-lg.png", class="image_lg")
                        img(alt="", src="images/modal-test-5-3-md.png", class="image_md")
                        img(alt="", src="images/modal-test-5-3-sm.png", class="image_sm")

                    input(type="radio", name="step_4", value="4_4")
                    label
                        img(alt="", src="images/modal-test-5-4-lg.png", class="image_lg")
                        img(alt="", src="images/modal-test-5-4-md.png", class="image_md")
                        img(alt="", src="images/modal-test-5-4-sm.png", class="image_sm")

                a(href="#", class="button", data-modal-open="test_6")
                    span
                        | Дальше