section(class="modal modal_test", data-modal-name="test_5", data-modal-important="on")

    div(class="modal__body-0")
        div(class="modal__body-1")

            div(class="modal__body-2")
                include modal--close

                div(class="title")
                    | Шаг 4/4

                div(class="subtitle")
                    | Выбери знак, который тебе больше нравится

                form()
                    input(type="radio", name="step_4", value="4_1")
                    label
                        img(alt="", src="images/modal-test-5-1.png", data-selected="off", data-hidden="off")
                        img(alt="", src="images/modal-test-5-1-selected.png", data-selected="on", data-hidden="on")

                    input(type="radio", name="step_4", value="4_2")
                    label
                        img(alt="", src="images/modal-test-5-2.png", data-selected="off", data-hidden="off")
                        img(alt="", src="images/modal-test-5-2-selected.png", data-selected="on", data-hidden="on")

                    input(type="radio", name="step_4", value="4_3")
                    label
                        img(alt="", src="images/modal-test-5-3.png", data-selected="off", data-hidden="off")
                        img(alt="", src="images/modal-test-5-3-selected.png", data-selected="on", data-hidden="on")

                    input(type="radio", name="step_4", value="4_4")
                    label
                        img(alt="", src="images/modal-test-5-4.png", data-selected="off", data-hidden="off")
                        img(alt="", src="images/modal-test-5-4-selected.png", data-selected="on", data-hidden="on")

                a(href="#", class="button", data-modal-open="test_6")
                    span
                        | Дальше