section(class="modal modal_test", data-modal-name="test_4", data-modal-important="on")
    include modal--close

    div(class="title")
        | Шаг 3/4

    div(class="text")
        | Выбери знак, который тебе больше нравится

    form()
        input(type="radio", name="step_3", value="3_1")
        label
            img(alt="", src="images/modal-test-4-1-lg.png", class="image_lg")
            img(alt="", src="images/modal-test-4-1-md.png", class="image_md")
            img(alt="", src="images/modal-test-4-1-sm.png", class="image_sm")

        input(type="radio", name="step_3", value="3_2")
        label
            img(alt="", src="images/modal-test-4-2-lg.png", class="image_lg")
            img(alt="", src="images/modal-test-4-2-md.png", class="image_md")
            img(alt="", src="images/modal-test-4-2-sm.png", class="image_sm")

        input(type="radio", name="step_3", value="3_3")
        label
            img(alt="", src="images/modal-test-4-3-lg.png", class="image_lg")
            img(alt="", src="images/modal-test-4-3-md.png", class="image_md")
            img(alt="", src="images/modal-test-4-3-sm.png", class="image_sm")

        input(type="radio", name="step_3", value="3_4")
        label
            img(alt="", src="images/modal-test-4-4-lg.png", class="image_lg")
            img(alt="", src="images/modal-test-4-4-md.png", class="image_md")
            img(alt="", src="images/modal-test-4-4-sm.png", class="image_sm")

    a(href="#", class="button", data-modal-open="test_5")
        span
            | Дальше