section(class="modal modal_auth", data-modal-name="success", data-modal-important="off")
    include modal--close


    div(style="height:80px")


    div(class="text")
        | Успех! Твой личный кабинет создан. Чтобы войти в него, перейди по ссылке в письме, отправленном тебе на e-mail.

    div()
        a(href="#", data-modal-close)
            | Хорошо