.modal_auth {

    .modal__body-0, .modal__body-1, .modal__body-2 {
        height: 702px;

        @media (max-width: $md_max) {
            height: 597px;
        }

        @media (max-width: $sm_max) {
            height: auto;
        }
    }



}