.modal_receipt {

    .modal__body-0, .modal__body-1, .modal__body-2 {
        height: 602px;

        @media (max-width: $md_max) {
            height: 517px;
        }

        @media (max-width: $sm_max) {
            height: auto;
        }
    }



}