.shadow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, .65);

    &.open {
        z-index: 600;
    }

    .modal-wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        transform: translateY(-100%);

        transition-duration: 450ms;
        transition-property: transform;
        transition-timing-function: ease-in;

        padding: 5px;

        @media (max-width: $sm_max) {
            padding: 0;
        }

        &.open {
            transform: translateY(0%);
        }

        .modal {
            position: relative;
            z-index: 700;
            width: 100%;
            max-height: 100%;
            background-color: #ffffff;
            overflow: auto;
            display: none;
            border-radius: 40px;

            @media (max-width: $sm_max) {
                border-radius: 0;
            }

            &.open {
                display: block;
            }

            &__close {
                position: absolute;
                transform: translate(50%, -50%);
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                top: 39px;
                right: 39px;

                @media (max-width: $sm_max) {
                    top: 20px;
                    right: 20px;
                }

                &:hover svg, &:focus svg {
                    transform: scale(1.2);
                }

                svg {
                    display: block;
                    transition: transform 500ms ease;
                    color: #000000;
                    width: 24px;
                    height: 24px;

                    @media (max-width: $sm_max) {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }
    }
}