[data-modal-name="test_1"] {

    .modal__body-0 {
        height: 700px;
        padding-top: 40px;

        @media (max-width: $md_max) {
            height: 600px;
        }


    }

    .back {
        top: -40px;
        right: -120px;


    }

    .title {
        color:#000000;
        font-family: "PF Din Text Cond Pro", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
        margin: 123px 80px 40px;
        width: 300px;


    }

    .text {
        width: 300px;
        right: 80px;
        bottom: 102px;
        color: #ffffff;
        font-family: "PF Din Text Cond Pro", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;


    }

    .button {
        margin: 0 80px 145px;
        background: linear-gradient(180deg, #FF9C47 0%, #E600C6 100%);
        color: #ffffff;
        width: 203px;


    }
}