.modal_test {

    .modal__body-1, .modal__body-2 {
        height: 660px;

        @media (max-width: $md_max) {
            height: 560px;
        }

        @media (max-width: $sm_max) {
            height: 615px;
        }
    }

    .title, .subtitle, .text {
        display: block;
    }

    .text {
        position: absolute;
    }
}