extends ../layouts/landing

block title
    | Профиль | Berlingo

block wrapper
    include ../page/account/header

    div(style="height: 400px")

    include ../page/account/marathon
    include ../page/account/bottom
    include ../page/account/footer
