section(class="section pens-content")
    div(class="back pens-content__back")
        img(alt="", src="images/pens-content-back-lg.png", class="image_lg")
        img(alt="", src="images/pens-content-back-md.png", class="image_md")
        img(alt="", src="images/pens-content-back-sm.png", class="image_sm")

    div(class="main-pens main_rel pens-content__main")
        span
            | .
