section(class="section pens-content")
    div(class="back pens-content__back")
        img(alt="", src="images/pens-content-back-lg.png", class="image_lg")
        img(alt="", src="images/pens-content-back-md.png", class="image_md")
        img(alt="", src="images/pens-content-back-sm.png", class="image_sm")

    div(class="main-pens main_rel pens-content__main")

        div(class="the-quality-of-writing-0")
            span()
                | Качество
            |
            span()
                | письма

        div(class="the-quality-of-writing-1-title")
            span()
                |

        div(class="the-quality-of-writing-1-text")
            span()
                |

        div(class="the-quality-of-writing-2-title")
            span()
                |

        div(class="the-quality-of-writing-2-text")
            span()
                |

        div(class="the-quality-of-writing-3-title")
            span()
                |

        div(class="the-quality-of-writing-3-text")
            span()
                |

        //--------------------------------------------------------------------------------------------------------------

        div(class="ergonomics-and-comfort-0")
            span()
                | Эргономика
            |
            span()
                | и комфорт

        div(class="ergonomics-and-comfort-1-title")
            span()
                |

        div(class="ergonomics-and-comfort-1-text")
            span()
                |

        div(class="ergonomics-and-comfort-2-title")
            span()
                |

        div(class="ergonomics-and-comfort-2-text")
            span()
                |

        div(class="ergonomics-and-comfort-3-title")
            span()
                |

        div(class="ergonomics-and-comfort-3-text")
            span()
                |

        //--------------------------------------------------------------------------------------------------------------

