div(class="back pens-footer__back")
    img(alt="", src="images/pens-footer-back-lg.png", class="image_lg")
    img(alt="", src="images/pens-footer-back-md.png", class="image_md")
    img(alt="", src="images/pens-footer-back-sm.png", class="image_sm")