div(class="back pens-header__back")
    img(alt="", src="images/pens-header-back-lg.png", class="image_lg")
    img(alt="", src="images/pens-header-back-md.png", class="image_md")
    img(alt="", src="images/pens-header-back-sm.png", class="image_sm")